<h3>Total Number of Residents:<%= @members.count %></h3>
<hr>

<% @members.each do |member| %>
  <h2><%= member.name %></h2>
  <% if member.photo %>
    <%= image_tag(member.photo, :alt => member.name) %>
  <% end %>
  <p>Allies:
    <% if member.allies == "None" %>
      <%= member.allies %>
    <% else %>
      <%= member.allies.join(",") %></p>
  <% end %>
  <p>Enemies:
    <% if member.enemies == "None" %>
      <%= member.enemies %>
    <% else %>
      <%= member.enemies.join(",") %></p>
  <% end %>
  <p>Affiliations:
    <%= member.affiliation %></p>
  <hr>
<% end %>